body {
    font-family: 'Segoe UI', sans-serif;
}

ul {
    list-style-type: disc;
    padding-left: 1.2rem;
}

.bg-primary {
    background-color: rgba(49 50 53) !important;
}

h2 {
    margin-top: 2rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
}
